:host {
  width: 80%;
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
}

// .btn {
// float: right;
// }

// .btn::after {
//   content: "";
//   clear: both;
//   display: table;
// }

.message {
  background-color: orange;
}
